*.egg-info
.vscode
**/__pycache__/
outputs/**
*.tex
*.log
*.pyc
.DS_Store
**/.git/
models/**
data/**
wandb/**
*.pt
*.pth
*.model
*.ckpt
*.safetensors
eval/eval-lipsync/example/cache/**
eval/eval-lipsync/example/results/**
eval/eval-lipsync/example/*.mp4
eval/eval-lipsync/example/*.avi
eval/eval-lipsync/example/*.wav
eval/eval-lipsync/weights/**
eval/common_metrics_on_video_quality/*.log
eval/common_metrics_on_video_quality/fvd/**/i3d*
eval/common_metrics_on_video_quality/**/*.pb
